
    h1{
        color:aqua;
        background-color:greenyellow;
    }
    div{
        color:rgb(237, 5, 5);
        background-color:yellow;
    }
p{
    color:darkred;
    background-color:aqua
}